// .b-wrap {
// 	max-width: 960px;
// 	margin-left: auto;
// 	margin-right: auto;
// }

.b-project-gallery-page {
	.e-landing-section {
		padding: 120px 0 80px;
		text-align: center;
		background-color: $purple;

		h2, h3 {
			text-align: center;
			color: $white;
			font-weight: 100;
		}
	}
}


.b-project-list {
	padding: 40px 0;

	.e-list-item {
		height: 0;
		padding: 20px;
		padding-bottom: 100%;
		background-color: $white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		margin: 30px 0 0;
		position: relative;
		transition: all .2s ease;

		&:hover {
			transition: all .2s ease;
			transform: scale(1.1);
			box-shadow: 0 0 10px $gray-10;
		}

		&.m-no-logo {
			background-image: url('/static/img/projects/project-no-logo.png');

		}

		.e-project-title {
			color: $orange;
			font-size: 18px;
			position: relative;
			text-transform: uppercase;
			font-weight: 600;
			z-index: 2;
		}

		.e-tagline {
			color: $gray-80;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			z-index: 2;
		}
	}
}