// .b-wrap {
// 	max-width: 960px;
// 	margin-left: auto;
// 	margin-right: auto;
// }

.b-project-gallery-page {
	.e-landing-section {
		padding: 120px 0 80px;
		text-align: center;
		background-color: $purple;

		h2, h3 {
			text-align: center;
			color: $white;
			font-weight: 100;
		}
	}
}


.b-project-list {
	padding: 40px 0;

	.e-list-item {
		height: 0;
		padding: 20px;
		padding-bottom: 100%;
		background-color: $gray-10;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 120%;
		margin: 30px 0 0;
		position: relative;
		transition: background-size .2s linear;

		&:hover {
			transition: background-size 3s ease-out;
			background-size: 100%;
			.e-shader-panel {
				opacity: .9
			}
			.e-project-title {
				color: $white;
				text-shadow: 2px 2px #000;
			}
			.e-tagline {
				color: $white;
			}
		}

		.e-shader-panel {
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			padding: inherit;
			position: absolute;
			transition: opacity .2s ease-in;
			background: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5));
			opacity: .5;
			z-index: 1;
		}

		.e-project-title {
			color: $white-90;
			font-size: 18px;
			position: relative;
			text-transform: uppercase;
			font-weight: 600;
			z-index: 2;
		}

		.e-tagline {
			color: $white-90;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			z-index: 2;
		}
	}
}