{% extends "_base.html" %}
{% block content %}
<div class="b-project-gallery-page">

  <div class="e-landing-section">
   <div class="b-wrap row">
    <h2>Project Gallery</h2>
    <h3 class="e-tagline">Occus. Antemperum quo volum ent elessit, quis volorum hit eume oditatias dolliquam inctum qui solorep eliquas pellorat eos utam liquatem</h3>
  </div>
</div>
<div class="b-project-list">
  <div class="b-wrap row">
    {% for card in projects|sort(attribute='title') %}
    <div class="column large-4 medium-6">
      <a href="/project/{{card.title|slug}}.html" class="b-card">
        <article class="e-card-inner {% if not card.logo %}m-no-logo{% endif %}">
          
          <section class="e-card-front" {% if card.logo %}style="background-image: url('/static/img/projects/{{card.logo}}')"{% endif %}>
            <p class="e-front-title">{{card.title | max(20)}}</p>
          </section>
          
          <section class="e-card-back">
            <p class="e-project-title">{{card.title}}</p>
            <p class="e-tagline">{{card.tagline}}</p>
          </section>

        </article>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock %}